body, html {
    margin: 0;
    padding: 0;
}

.background-slider {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    z-index: -2;
    animation: slideShow 30s infinite ease-in-out;
}

@keyframes slideShow {
    0% { background-image: url('../images/1.webp'); }
    33% { background-image: url('../images/2.webp'); }
    66% { background-image: url('../images/3.webp'); }
    100% { background-image: url('../images/1.webp'); }
}

.overlay-gradient {
    position: fixed;
    top: 0; left: 0;
    width: 100%; height: 100%;
    background: linear-gradient(to bottom, #ffb459, rgba(255, 255, 255, 0.3) 20%, rgba(255, 255, 255, 0.3) 80%, #ffb459);
    z-index: -1;
}


/*-----------------------------------------------------------------*/


.container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 10px;
}

.container-head {
    margin-top: 50px;
    margin-bottom: 30px;
}

.container-tabs {
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.tabs {
    display: flex;
    gap: 10px;
    width: 100%;
}

.container-contacts {
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 480px) {
    .container {
        width: 100%;
    }

    .tabs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
}

/*-----------------------------------------------------------------*/


.title {
    color: #fff;
    text-align: center;
    font-size: 2.5em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.subtitle {
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}

.job {
    color: #505050;
    text-align: center;
    font-size: 1em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}


/*-----------------------------------------------------------------*/


.tablinks {
    width: 100%;
    padding: 10px 20px;
    border: none;
    background-color: rgba(255,255,255,0.8);
    border-radius: 4px;
    border-bottom: 3px solid transparent;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
    color: #3d3d3d;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

.tablinks:hover {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.4);
    border-bottom-color: #ff5100;
}

.tablinks.active {
    border-bottom-color: #ff8c00;
}

.tab-content {
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    border-radius: 4px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
    font-size: 1em;
    transition: all 0.3s ease;
    color: #3d3d3d;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.247);
}


/*-----------------------------------------------------------------*/


.box-button {
    width: 30px;
    height: 30px;
    border: 1px #3d3d3d;
    background: linear-gradient(to top, #c0c0c0, rgb(255, 255, 255));
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
    color: #3d3d3d;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.box-button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #ffb459, rgba(255, 255, 255, 0.3));
}

.reset-button {
    width: 200px;
    height: 50px;
    margin: 2px;
    border: 1px #3d3d3d;
    background: linear-gradient(to top, #c0c0c0, rgb(255, 255, 255));
    border-radius: 2px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.3s ease;
    color: #3d3d3d;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.reset-button:hover {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to top, #ffb459, rgba(255, 255, 255, 0.3));
}



/*-----------------------------------------------------------------*/


.container-price-calculator {
    justify-content: center
}

.description {
    width: 100%;
    text-align: center;
}


/*-----------------------------------------------------------------*/


table {
    width: 100%;
    border-collapse: collapse;
}

td {
    padding: 5px;
}

.col-1 {
  width: 80%;
}

.col-2 {
  width: 2%;
}

.col-3 {
  width: 2%;
}

.col-4 {
  width: 2%;
}

.col-5 {
  width: 2%;
}

tr:nth-child(odd) {
  background-color: #ffffffc9;
}

tr:nth-child(even) {
  background-color: #ecececc9;
}


/*-----------------------------------------------------------------*/


.contacts {
    width: 100%;
    color: #fff;
    text-align: center;
    font-size: 1.5em;
    text-shadow: 1px 1px 4px rgba(0,0,0,0.7);
}



